@media screen and (max-width: 926px) {
    #author h1 {
        width: 8rem;
    }
    #author a {
        width: 6rem;
    }
    #wrapper {
        height: 480px !important;
        width: fit-content;
        margin-right: 16px;
        margin-left: 16px;
    }
    .authorImage {
        margin-bottom: 8px !important;
        width: 150px !important;
        height: 150px !important;
    }
}
#wrapper {
    text-align: center;
    height: 620px;
    margin-bottom: 16px;
}
#author {
    background-color: rgba(0, 128, 255, 0.4);
    border-radius: 32px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.2);
    color: #ffffff;
    padding: 16px;
    margin-bottom: 2rem;
}
#author h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#author a {
    width: fit-content;
    text-decoration: underline white;
    display: block;
    text-underline-offset: 0.1em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
#author a:hover {
    transition: all 0.2s;
    color: rgb(25, 255, 255);
    text-decoration-color: rgb(25, 255, 255);
}
.authorImage {
    width: 250px;
    height: 250px;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 16px;
    border-radius: 50%;
}
#quote {
    margin-top: 24px;
    display: block;
    font-style: italic;
    opacity: 0.7;
    transition: all 0.3s;
}