@media screen and (max-width: 926px) {
    #pagination {
        margin-bottom: 2rem !important;
    }
    #search {
        position: relative !important;
        width: 150px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        left: 0 !important;
    }
    #nomatch {
        width: 90% !important;
    }
}
#author {
    background-color: rgba(0, 128, 255, 0.4);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.2);
    color: #ffffff;
    padding: 1.15rem;
    margin-left: 10px;
}
#author a {
    width: 3rem;
    text-decoration: underline white;
    display: block;
    text-underline-offset: 0.1em;
    font-size: 1.20rem;
    margin-left: auto;
    margin-right: auto;
}
#author a:hover {
    transition: all 0.2s;
    color: rgb(25, 255, 255);
    text-decoration-color: rgb(25, 255, 255);
}
#quote {
    margin-top: 0.45rem;
    font-style: italic;
    opacity: 0.7;
    transition: all 0.3s;
}
#footer:hover {
    opacity: 1 !important;
    transition: all 0.35s;
}
#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -6%;
    transition: all 0.4s;
}
#nomatch {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}
#goBack {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: 1px solid #ffffff;
}
#search {
    position: absolute;
    left: 70%;
    background-color: rgb(120, 185, 255);
    color: rgb(255, 255, 255);
}
#search::placeholder {
    color: rgb(0 128 255);
}
#search:focus::placeholder {
    color: rgb(255, 255, 255);
}
#search:focus {
    background-color: rgb(55,150,255);
}
.back {
    font-size: 2rem;
    color: rgb(255,255,255);
    outline: 2px black;
    padding: 5px;
}
.back:hover {
    cursor: pointer;
    background-color: rgb(100, 255, 255);
    transition: all 0.2s;
    color: rgb(55,150,255);
}
#pagination {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
}