.butterfly2 {
   opacity: 0.7;
   position: absolute;
   z-index: 1;
   left: 51.5%;
}

.butterfly {
    opacity: 0.7;
    position: absolute;
    left: -5%;
    bottom: 65%;
}
.butterfly img {
    z-index: 1;
}