.active a {
    font-size: 2rem;
    color: rgb(25,120,255);
    border: 1px solid rgb(25,120,255);
}
.active:hover a {
    cursor: default;
}
.page-item a {
    font-size: 2rem;
    color: rgb(255,255,255);
    outline: 2px black;
}
.page-item:hover a {
    cursor: pointer;
    background-color: rgb(100, 255, 255);
    transition: all 0.2s;
    color: rgb(55,150,255);
}