@media screen and (max-width: 843px) {
    #content {
        margin-top: 100px;
    }
    #content h1 {
        font-size: 2rem;
        left: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #postData {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
    }
    #postData blockquote {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0rem 0rem 0rem 0rem;
    }
    #postData ul li {
        margin-top: -30px;
    }
    #sub {
        width: 90% !important;
    }
    .code {
        width: 84vw;
    }
}
.code {
    overflow: auto;
}
.preCode code {
    margin-top: 2rem;
}
#sub {
    width: 50%;
    margin-top: 5rem;
}
#postData blockquote {
    opacity: 0.8;
    border: 3px solid rgb(125, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding: 1rem;
    font-style: italic;
    text-align: left;
    margin-bottom: 1.5rem;
}
#postData blockquote em, #postData blockquote strong {
    display: block;
    text-align: right;
}
#postData img {
    margin-left: auto;
    margin-right: auto;
}
#postData ol li {
    counter-increment: section;
}
#postData ol li::marker {
    content: counter(section) ")";
    font-weight: bold;
    font-size: 1.3rem;
    border: 1px solid #ffffff;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#postData ul li {
    list-style-image: url("/right-arrow.svg");
}
#postData ul li::marker {
    font-size: 3rem;
}
#postData a {
    text-decoration: underline white;
    text-underline-offset: 0.1em;
    font-weight: bold;
}
#postData a:hover {
    transition: all 0.2s;
    color: rgb(25, 255, 255);
    text-decoration-color: rgb(25, 255, 255);
}
#postData strong {
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-weight: bold;
    padding-right: 4px;
}
#tags {
    margin: 1em;
}
.tag {
    border: 1px solid #ffffff;
    background-color: rgb(0 128 255);
    color: #ffffff;
    padding: 0.25rem;
    margin-bottom: 7px;
    margin-right: 7px;
    display: inline-block;
}
.tag:hover {
    transition: all 0.2s;
    box-shadow: 0 0 10px rgb(25, 255, 255);
    border-color: rgb(0 128 255);
    background-color: rgb(25,120,255);
    color: rgb(25, 255, 255);
}

#content {
    flex: 1;
}
.date {
    color: rgb(179, 224, 255);
    font-size: 1.1rem;
}
.date img {
    filter: invert(76%) sepia(35%) saturate(390%) hue-rotate(178deg) brightness(104%) contrast(103%);
}
.paragraph {
    text-align: left;
}