@media screen and (max-width: 926px) {
    .header {
        font-size: 1.3rem !important;
        line-height: 1.3rem !important;
    }
}
#subbedMail {
    padding-top: 5px;
    padding-bottom: 0.2rem;
    text-align: center;
}
#registered {
    font-style: italic;
}
#mail {
    padding-left: 10px;
    text-decoration: underline white;
    text-underline-offset: 0.1em;
    font-weight: bold;
    text-align: center;
}
#invalid {
    text-decoration: underline white;
    text-underline-offset: 0.1em;
    font-weight: bold;
    text-align: center;
}
.header {
    font-size: 1.575rem;
    line-height: 2rem;
    text-align: center;
}
#block {
    background-color: rgba(0, 128, 255, 0.4);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,.2);
    color: #ffffff;
    padding: 1.15rem;
    margin-left: 10px;
}
#buttonContainer {
    margin-top: 10px;
    text-align: center;
}
#buttonContainer button {
    background-color: rgba(5,150,255, 0.7);
    margin-left: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
#buttonContainer button:hover {
    color: rgba(0,0,0, 0.7);
    background-color: rgb(55,150,255, 1);
}
#subbedMail {
    display: block;
}
#search {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    background-color: rgb(120, 185, 255);
    color: rgb(255, 255, 255);
}
#search::placeholder {
    color: rgb(0 128 255);
}
#search:focus::placeholder {
    color: rgb(255, 255, 255);
}
#search:focus {
    background-color: rgb(55,150,255);
}