@media screen and (max-width: 1280px) {
    .tags {
        width: 13rem !important;
    }
}
@media screen and (max-width: 926px) {
    .tags {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: 25rem !important;
        position: relative !important;
        left: 0 !important;
        margin-right: auto;
        margin-left: auto;
    }
    #normal {
        display: none !important;
    }
    #phone {
        display: block !important;
    }
}
#phone {
    display: none;
}
#phone button {
    position: absolute;
    top: 150px;
    margin-left: 32px;
    left: 5%;
    background-color: rgb(0 128 255);
    border: 1px solid #ffffff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#wrapper {
}
#collapseId {
    display: none;
    overflow: hidden;
}
.collapse {
    display: block !important;
}
.tags {
    width: 13%;
    position: absolute;
    left: 70%;
    margin-top: 5%;
}
.tags div {
    opacity: 0.73;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: rgb(55,150,255);
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.tags div:hover {
    transition: all 0.2s;
    opacity: 1;
    bottom: 0px;
    left: 2px;
    outline: none;
    box-shadow: 0 0 10px rgb(25, 255, 255);
    border-color: rgb(25,120,255);
    cursor: pointer;
}

.enabled {
    transition: all 0.2s;
    opacity: 1 !important;
    background-color: rgb(25, 255, 255) !important;
    color: rgb(55,150,255) !important;
}